body{
  background: black;  
	font-family: 'Abel', sans-serif;
	color: fushia;
}

.feature-container{
	margin-left: auto;
	margin-right: auto;
  margin-top: 8px;
}

.banner {
	text-align: center;
	padding-top: 2vh;
}

.banner h1{
	font-size: 5vw;
}

#tree {
	margin-top: -10vw;
}

/* ********************
 * better buttons (https://codepen.io/Jasius/pen/EyAXXy)
 *********************/
.btnx-l {
  background: 0 0;
  border: 2px solid #3498DB;
  color: #3498DB;
  transition: all .5s;
  padding: 7px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 2px;
  margin: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:hover, &:focus {
    color: #fff;
    background: #3498DB;
  }
}

.btnx {
  background: 0 0;
  border: 2px solid #3498DB;
  color: #3498DB;
  transition: all .5s;
  padding: 6px 16px;
  font-size: 18px;
  border-radius: 2px;
  margin: 5px;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:hover, &:focus {
    color: #fff;
    background: #3498DB;
  }
}

.btnx-s {
  background: 0 0;
  border: 2px solid #3498DB;
  color: #3498DB;
  transition: all .5s;
  padding: 4px 15px;
  font-size: 15px;
  border-radius: 2px;
  margin: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:hover, &:focus {
    color: #fff;
    background: #3498DB;
  }
}

.btnx-solid {
  background: #3498DB;
  color: #fff;
  &:hover, &:focus {
    background: #75b9e7;
    border-color: #75b9e7;
  }
}

.btnx-cancel {
  border-color: #cd201f;
  color: #cd201f;
  &:hover, &:focus {
    background: #cd201f;
  }
}

.btnx-ok {
  border-color: #009e7e;
  color: #009e7e;
  &:hover, &:focus {
    background: #009e7e;
  }
}

.btnx-warning {
  border-color: #F3752B;
  color: #F3752B;
  &:hover, &:focus {
    background: #F3752B;
  }
}

.btnx-disabled {
  border-color: #A49A87;
  color: #A49A87;
  pointer-events: none;
  &:hover, &:focus {
    background: #A49A87;
  }
}

/*************************
 * some truly awesome stuff!
 *************************/
body {
  background-color: #010a00;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  font-size: 1rem;
}

h1 {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}